S3method(print,ndm_config)
S3method(print,ndm_model)
S3method(print,ndm_model_spec)
S3method(print,ndm_trained_model)
export(ndm_attach_tfrecord_bundle)
export(ndm_batch_to_model_inputs)
export(ndm_backend_modules)
export(ndm_build_backend)
export(ndm_build_model)
export(ndm_check_backend)
export(ndm_collect_tfrecord_batches)
export(ndm_create_config)
export(ndm_create_multidisease_run_config)
export(ndm_create_real_run_config)
export(ndm_create_sim_run_config)
export(ndm_create_tfrecord_parser)
export(ndm_fit)
export(ndm_initialize_backend)
export(ndm_load_model)
export(ndm_run_multidisease)
export(ndm_run_real)
export(ndm_run_sim)
export(ndm_load_tfrecord_bundle)
export(ndm_loss)
export(ndm_model_spec)
export(ndm_model_spec_from_tex)
export(ndm_model_spec_presets)
export(ndm_model_spec_to_tex)
export(ndm_new_runtime_env)
export(ndm_print)
export(ndm_predict)
export(ndm_prepare_data)
export(ndm_prepare_runtime)
export(ndm_read_tfrecord_dataset)
export(ndm_resume_training)
export(ndm_save_model)
export(ndm_set_runtime_globals)
export(ndm_source_runtime_calibration)
export(ndm_source_runtime_results_analyze)
export(ndm_source_runtime_results_get)
export(ndm_tf_batch_to_jax)
export(ndm_tf_batch_to_r)
export(ndm_tfrecord_dtype_map)
export(ndm_tfrecord_fields_real)
export(ndm_tfrecord_fields_sim)
export(ndm_train)
import(data.table)
import(reticulate)
